.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  animation-name: changeColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes changeColor {
  10% {
    background-color: crimson;
    width: 100px;
  }
  25% {
    background-color: chartreuse;
  }
  50% {
    background-color: chartreuse;
    width: 400px;
  }
  100% {
    background-color: cornflowerblue;
  }
}
