.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  background-color: crimson;
  height: 400px;
  color: white;
}

.r1 {
  background-color: cornflowerblue;
}

.r2 {
  background-color: chartreuse;
}
.r3 {
  background-color: deeppink;
}

.rect {
  width: 100px;
  height: 100px;
}
